body{
    background-color: #a9d7d1;
    font-family: Catamaran, sans-serif;
    text-align: center;
    min-width: 320px;
}

#form-outer{
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 10px;
    padding-top: 20px;
}

.input-field{
    height: 20px;
    width: 70%;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    max-width: 70%;
}

.labels{
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.right-tab{
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.dropdown{
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.radio{
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}

.userRatings{
    float: left;
    margin-right: 5px;
}

.checkbox{
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}

#submit{
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}